@{
    ViewBag.Title = "تماس با ما";
    Layout = "_Layout";
}

<h2>تماس با ما</h2>
<hr>

<div class="row">
    <div class="col-md-3">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">راه های تماس</div>
            <div class="card-body">
                <h4 class="card-title">ارتباط با ما</h4>
                <p class="card-text">09392906609</p>
                <p class="card-text">Parsaddshi2002@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-3">به فروشگاه ما خوش آمدید</h1>
            <p class="lead">میتوانید از طریق راه های ارتباطی با ما در تماس باشید.</p>
        </div>
    </div>
</div>