@page
@model ESHOP.Pages.Admin.ManageUsers.CreateModel

@{
    ViewData["Title"] = "افزودن کاربر";
}

<h1>افزودن کاربر</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.FullName" class="control-label"></label>
                <input asp-for="User.FullName" class="form-control" />
                <span asp-validation-for="User.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PhoneNumber" class="control-label"></label>
                <input asp-for="User.PhoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="User.IsAdmin" /> @Html.DisplayNameFor(model => model.User.IsAdmin)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-success" formmethod="post"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">بازگشت به صفحه اصلی</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
